div {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: #161c1677;
    color: black;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}