@if (form) {
    <div class="my-form" [class.inline]="inline">
        @for (control of form.controls; track control) {
            @if (control.type === getControlType().TITLE) {
                <div>{{ control.selector | translate }}</div>
            }

            @if (control.type === getControlType().TEXT) {
                <input #textInput (change)="updateValue(control, textInput)" (input)="updateValue(control, textInput)" type="text" [required]="control.required" [id]="control.selector" [placeholder]="(control.placeholder || '') | translate" [value]="control.defaultValue || control.value || ''">
            }

            @if (control.type === getControlType().PASSWORD) {
                <input #passwordInput (change)="updateValue(control, passwordInput)" type="password" [required]="control.required" [id]="control.selector" [placeholder]="(control.placeholder || '') | translate">
            }

            @if (control.type === getControlType().EMAIL) {
                <input #emailInput (change)="updateValue(control, emailInput)" type="email" [required]="control.required" [id]="control.selector" [placeholder]="(control.placeholder || '') | translate">
            }

            @if (control.type === getControlType().RADIO) {
                <div>
                    <input #radioInput type="hidden" [required]="control.required" [id]="control.selector" [value]="control.defaultValue || control.value || ''">
                    @for (option of control.options; track option) {
                        <div (click)="radioInput.value = toggleRadio(control, option.value); updateValue(control, radioInput)" class="radioCheckElement" [class.selected]="control.value === option.value">
                            <ng-container *ngTemplateOutlet="radioTemplate"></ng-container>
                            <span>{{ option.label | translate }}</span>
                        </div>
                    }
                </div>
            }

            @if (control.type === getControlType().CHECKBOX) {
                <div>
                    <input #checkboxInput type="hidden" [required]="control.required" [id]="control.selector" [value]="control.defaultValue || control.value || ''">
                    @for (option of control.options; track option) {
                        <div (click)="checkboxInput.value = toggleCheckbox(option.value); updateValue(control, checkboxInput)" class="radioCheckElement" [class.selected]="checkboxSelected(option.value, control)">
                            <ng-container *ngTemplateOutlet="checkboxTemplate; context: { selected: checkboxSelected(option.value, control) }"></ng-container>
                            <span>{{ option.label | translate }}</span>
                        </div>
                    }
                </div>
            }

            @if (control.type === getControlType().COLOR) {
                <div class="color-input">
                    <input #colorInput (change)="updateValue(control, colorInput)" type="color" [required]="control.required" [id]="control.selector" [placeholder]="(control.placeholder || '') | translate" [value]="control.defaultValue || control.value || ''">
                    
                    @if (control.label) {
                        <span>{{ control.label | translate }}</span>
                    }
                </div>
            }

            @if (control.type === getControlType().FILE) {
                <input #fileInput (change)="updateValue(control, fileInput)" (input)="updateValue(control, fileInput)" type="file" [required]="control.required" [id]="control.selector" accept="audio/*">
            }

            @if (control.type === getControlType().SPACER) {
                <div><br></div>
            }
        }
    </div>
}

<ng-template #radioTemplate>
    <div class="radio"></div>
</ng-template>

<ng-template #checkboxTemplate let-selected="selected">
    <div class="checkbox">
        @if (selected) {
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M504.6 148.5C515.9 134.9 514.1 114.7 500.5 103.4C486.9 92.1 466.7 93.9 455.4 107.5L320 270L184.6 107.5C173.3 93.9 153.1 92.1 139.5 103.4C125.9 114.7 124.1 134.9 135.4 148.5L278.3 320L135.4 491.5C124.1 505.1 125.9 525.3 139.5 536.6C153.1 547.9 173.3 546.1 184.6 532.5L320 370L455.4 532.5C466.7 546.1 486.9 547.9 500.5 536.6C514.1 525.3 515.9 505.1 504.6 491.5L361.7 320L504.6 148.5z"/></svg>
        }
    </div>
</ng-template>