<div class="track">
    <my-track [color]="'blue'" [inputVolume]="globalVolume" (volumeChanged)="setGlobalVolume($event)" [setPlayer]="actionGuide" (audioPlayed)="played('guide')" (fileSelected)="saveTrackData('guide', $event)"></my-track>
</div>
<div class="track">
    <my-track [color]="'yellow'" [inputVolume]="globalVolume" (volumeChanged)="setGlobalVolume($event)" [setPlayer]="actionDub" (audioPlayed)="played('dub')" (fileSelected)="saveTrackData('dub', $event)"></my-track>
</div>
<div class="track">
    <my-track [color]="'green'" [inputVolume]="globalVolume" (volumeChanged)="setGlobalVolume($event)" [setPlayer]="actionResult" (audioPlayed)="played('result')" [readonly]="true" [fileInput]="setResult"></my-track>
</div>

<div class="manager">
    <my-form [form]="form" [inline]="true" (formChanged)="setDefaultForm()"></my-form>
    <button [disabled]="!canGenerate()" (click)="generateTrack()">{{ 'home.generate' | translate }}</button>
</div>