<div class="track">
    <my-track [color]="'blue'" [inputVolume]="globalVolume" (volumeChanged)="setGlobalVolume($event)" [pausePlayer]="pauseBase" (audioPlayed)="played('base')"></my-track>
</div>
<div class="track">
    <my-track [color]="'yellow'" [inputVolume]="globalVolume" (volumeChanged)="setGlobalVolume($event)" [pausePlayer]="pauseSample" (audioPlayed)="played('sample')"></my-track>
</div>
<div class="track">
    <my-track [color]="'green'" [inputVolume]="globalVolume" (volumeChanged)="setGlobalVolume($event)" [pausePlayer]="pauseResult" (audioPlayed)="played('result')" [readonly]="true"></my-track>
</div>

<div class="manager">
    <my-form [form]="form" [inline]="true" (formChanged)="setDefaultForm()"></my-form>
</div>