@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

// Variables will be overwritten by themes.service.ts
:root {
    --primary: #2b0457;
    --secondary: #3b3048;
    --accent: #5409a9;
    --accentLight: #8d42e3;
    --light: #9a48f8;
    --dark: #0b090d;

    --white: #e7e7e7;
    --black: #111;
    --grey: #7c7c7c;

    --blue: #2e0aaf;
    --dark-blue: #060216;
    --yellow: #c89e15;
    --dark-yellow: #130f01;
    --green: #019d01;
    --dark-green: #001100;

    --danger: #721f2a;
    --success: #3d612e;
    --warning: #bda32d;
    --caution: #bd6b2d;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 10px;
    background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark);
}

* {
    box-sizing: border-box;
    // border: 2px solid red;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    color: var(--white);
    background-size: cover;
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;;
}